<!DOCTYPE html>
<html>
<head>
    <title>Sistem Perpustakaan</title>
</head>
<body>

    <h1>Sistem Informasi Perpustakaan</h1>

    <h3>Menu</h3>

    <ul>
        <li><a href="/adminku/">Data Admin</a></li>
        <li><a href="/buku/">Data Buku</a></li>
        <li><a href="/anggota/">Data Mahasiswa</a></li>
        <li><a href="/petugas/">Data Petugas</a></li>
        <li><a href="/transaksi/">Data Transaksi</a></li>
        <li><a href="/notifikasi/">Data Notifikasi</a></li>
        <li><a href="/laporan/">Data Laporan</a></li>
    </ul>

</body>
</html>