<!DOCTYPE html>
<html>
<head>
    <title>Transaksi</title>
</head>
<body>
    <h2>Data Transaksi</h2>

    <h3>Peminjaman</h3>

    <p>Tanggal Pinjam : {{ tanggal_pinjam }}</p>
    <p>Jatuh Tempo : {{ jatuh_tempo }}</p>
    <p>Status : {{ status_pinjam }}</p>

    <h3>Pengembalian</h3>

    <p>Tanggal Pengembalian : {{ tanggal_kembali }}</p>
    <p>Kondisi Buku : {{ kondisi }}</p>

    <h3>Denda</h3>

    <p>Jumlah Denda : {{ denda }}</p>
    <p>Status Bayar : {{ status_bayar }}</p>
    <br>

    <a href="/">Kembali ke Menu</a>
    
</body>
</html>